body {
	background-color: #dfebe8;
		}
	
h1 {
  	color: #66BFBF;
	}
	
h3 {
	color: #66BFBF
	}
	
		
hr {
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	height: 100px;
	width: 5%;
	}
			